/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define DFLT 0
#define CYRL 1
#define TYPO 2
#define NAVI 3
#define BLTH 4


/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        bindings = <
             &kp ESC         &kp N1     &kp N2      &kp N3     &kp N4        &kp N5                                      &kp N6           &kp N7    &kp N8       &kp N9      &kp N0      &kp BSPC
  &kp TAB    &none           &kp Q      &kp W       &kp F      &kp P         &kp B                                       &kp J            &kp L     &kp U        &kp Y       &none       &none          &kp RET
             &none           &kp A      &kp R       &kp S      &kp T         &kp G                                       &kp M            &kp N     &kp E        &kp I       &kp O       &none
             &kp CAPS        &kp Z      &kp X       &kp C      &kp D         &kp V                                       &kp K            &kp H     &kp DOT      &none       &none       &kp EQUAL
                                                               &kp OPT       &kp CMD    &lt TYPO SPACE     &mt RSHIFT    &kp RCTRL        &mo NAVI
                        >;
                };

                cyrillic_layer {
                        bindings = <
             &kp ESC         &kp N1     &kp N2      &kp N3     &kp N4        &kp N5                                      &kp N6           &kp N7    &kp N8       &kp N9      &kp N0      &kp BSPC
  &kp TAB    &kp SQT         &kp O      &kp SEMI    &kp V      &kp X         &kp L                                       &kp E            &kp S     &kp Z        &kp Y       &none       &kp A          &kp RET
             &kp W           &kp H      &kp C       &kp N      &kp D         &kp G                                       &kp M            &kp J     &kp T        &kp I       &kp O       &kp DOT
             &kp CAPS        &kp Q      &kp P       &kp K      &kp R         &kp RBKT                                    &kp BSLH         &kp F     &kp LS(N7)   &kp COMMA   &kp I       &kp EQUAL
                                                               &kp OPT       &kp CMD    &lt TYPO SPACE     &mt RSHIFT    &kp RCTRL        &mo NAVI
                        >;
                };

                typography_layer {
             &kp ESC         &kp N1     &kp N2      &kp N3     &kp N4        &kp LBRC                                    &kp RBRC         &trans    &trans       &kp LA(LS(MINUS))  &trans      &trans
  &kp TAB    &kp TILDE       &trans     &kp W       &kp F      &kp SLASH     &kp LBKT                                    &kp RBKT         &kp BSLH  &trans       &trans             &trans      &trans       &trans
             &trans          &trans     &kp R       &kp COLON  &kp SEMI      &kp LPAR                                    &kp RPAR         &trans    &trans       &trans             &trans      &trans
             &kp CAPS        &kp GRAVE  &trans      &kp SQT    &trans        &kp LT                                      &kp GT           &trans    &kp DQT      &trans             &none       &trans
                                                               &kp OPT       &kp CMD    &lt TYPO SPACE     &mt RSHIFT    &kp RCTRL        &mo NAVI
                       >;
               };

                navigation_layer {
             &kp ESC         &kp N1     &kp N2      &kp N3     &kp N4        &kp N5                                      &kp N6           &kp N7    &kp N8       &kp N9      &kp N0      &kp BSPC
  &kp TAB    &none           &kp Q      &kp W       &kp F      &kp P         &kp B                                       &kp J            &kp L     &kp U        &kp Y       &none       &none          &kp RET
             &none           &kp A      &kp R       &kp S      &kp T         &kp G                                       &kp M            &kp N     &kp E        &kp I       &kp O       &none
             &kp CAPS        &kp Z      &kp X       &kp C      &kp D         &kp V                                       &kp K            &kp H     &kp DOT      &none       &none       &kp EQUAL
                                                               &kp OPT       &kp CMD    &lt TYPO SPACE     &mt RSHIFT    &kp RCTRL        &mo NAVI
                       >;
               };

                bluetooth_layer {
                       bindings = <
             &kp ESC         &kp N1     &kp N2      &kp N3     &kp N4        &kp N5                                      &kp N6           &kp N7    &kp N8       &kp N9      &kp N0      &kp BSPC
  &kp TAB    &none           &kp Q      &kp W       &kp F      &kp P         &kp B                                       &kp J            &kp L     &kp U        &kp Y       &none       &none          &kp RET
             &none           &kp A      &kp R       &kp S      &kp T         &kp G                                       &kp M            &kp N     &kp E        &kp I       &kp O       &none
             &kp CAPS        &kp Z      &kp X       &kp C      &kp D         &kp V                                       &kp K            &kp H     &kp DOT      &none       &none       &kp EQUAL
                                                               &kp OPT       &kp CMD    &lt TYPO SPACE     &mt RSHIFT    &kp RCTRL        &mo NAVI
                       >;
               };
        };
};
