/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/ext_power.h>
#include "../zmk-nodefree-config/helper.h"

ZMK_COMBO(del, &kp DEL, 10 11, ALL)

ZMK_COMBO(en, &kp F13, 4 5, ALL)
ZMK_COMBO(ru, &kp F14, 6 7, ALL)
ZMK_COMBO(caps, &kp CAPS, 5 6, ALL)

ZMK_COMBO(voldn, &kp C_VOL_DN, 17 18, ALL)
ZMK_COMBO(volup, &kp C_VOL_UP, 19 20, ALL)
ZMK_COMBO(mute, &kp K_MUTE, 18 19, ALL)

ZMK_COMBO(bridn, &kp C_BRI_DN, 30 31, ALL)
ZMK_COMBO(briup, &kp C_BRI_UP, 32 33, ALL)

ZMK_COMBO(prev, &kp C_PREV, 42 43, ALL)
ZMK_COMBO(next, &kp C_NEXT, 44 45, ALL)

ZMK_COMBO(mic, &kp F15, 0 1, ALL)
ZMK_COMBO(cam, &kp F16, 0 13, ALL)
ZMK_COMBO(miccam, &kp F17, 0 1 13, ALL)

#define DFLT 0
#define NAVI 1
#define SWTCH 2

ZMK_LAYER(dflt,
//               ╭─────(0)─────┬─────(1)─────┬─────(2)─────┬─────(3)─────┬─────(4)─────┬─────(5)─────╮   ╭─────(6)─────┬─────(7)─────┬─────(8)─────┬─────(9)─────┬─────(10)────┬─────(11)────╮
                   &kp ESC       &kp N1        &kp N2        &kp N3        &kp N4        &kp N5            &kp N6        &kp N7        &kp N8        &kp N9        &kp N0        &kp BSPC
// ╭─────(12)────┼─────(13)────┼─────(14)────┼─────(15)────┼─────(16)────┼─────(17)────┼─────(18)────┤   ├─────(19)────┼─────(20)────┼─────(21)────┼─────(22)────┼─────(23)────┼─────(24)────┼─────(25)────╮
     &lt SWTCH TAB &kp NUBS      &kp Q         &kp W         &kp E         &kp R         &kp T             &kp Y         &kp U         &kp I         &kp O         &kp P         &kp LBKT      &kp RET
// ╰─────────────┼─────(26)────┼─────(27)────┼─────(28)────┼─────(29)────┼─────(30)────┼─────(31)────┤   ├─────(32)────┼─────(33)────┼─────(34)────┼─────(35)────┼─────(36)────┼─────(37)────┼─────────────╯
                   &kp LSHFT     &kp A         &kp S         &kp D         &kp F         &kp G             &kp H         &kp J         &kp K         &kp L         &kp SEMI     &mt RSHIFT SQT
//               ├─────(38)────┼─────(39)────┼─────(40)────┼─────(41)────┼─────(42)────┼─────(43)────┤   ├─────(44)────┼─────(45)────┼─────(46)────┼─────(47)────┼─────(48)────┼─────(49)────┤
                   &kp LCTRL     &kp Z         &kp X         &kp C         &kp V         &kp B             &kp N         &kp M         &kp COMMA     &kp DOT       &kp FSLH     &mt RCTRL BSLH
//               ╰─────────────┴─────────────┴─────────────┼─────(50)────┼─────(51)────┼─────(52)────┤   ├─────(53)────┼─────(54)────┼─────(55)────┼─────────────┴─────────────┴─────────────╯
                                                             &kp LALT      &kp LCMD     &lt NAVI SPACE    &lt NAVI SPACE &kp RALT      &kp RALT
//                                                         ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
)

ZMK_LAYER(navi,
//               ╭─────(0)─────┬─────(1)─────┬─────(2)─────┬─────(3)─────┬─────(4)─────┬─────(5)─────╮   ╭─────(6)─────┬─────(7)─────┬─────(8)─────┬─────(9)─────┬─────(10)────┬─────(11)────╮
                   &kp F1        &kp F2        &kp F3        &kp F4        &kp F5        &kp F6            &kp F7        &kp F8        &kp F9        &kp F10       &kp F11       &kp F12
// ╭─────(12)────┼─────(13)────┼─────(14)────┼─────(15)────┼─────(16)────┼─────(17)────┼─────(18)────┤   ├─────(19)────┼─────(20)────┼─────(21)────┼─────(22)────┼─────(23)────┼─────(24)────┼─────(25)────╮
     &bt BT_NXT    &bt BT_CLR    &trans        &trans        &kp GRAVE     &trans        &kp C_VOL_DN      &kp C_VOL_UP  &kp HOME      &kp PG_DN     &kp PG_UP     &kp END       &trans        &ext_power EP_TOG
// ╰─────────────┼─────(26)────┼─────(27)────┼─────(28)────┼─────(29)────┼─────(30)────┼─────(31)────┤   ├─────(32)────┼─────(33)────┼─────(34)────┼─────(35)────┼─────(36)────┼─────(37)────┼─────────────╯
                   &trans        &kp LEFT      &kp DOWN      &kp UP        &kp RIGHT     &kp C_BRI_DN      &kp C_BRI_UP  &kp LEFT      &kp DOWN      &kp UP        &kp RIGHT     &trans
//               ├─────(38)─────┼────(39)────┼─────(40)────┼─────(41)────┼─────(42)────┼─────(43)────┤   ├─────(44)────┼─────(45)────┼─────(46)────┼─────(47)────┼─────(48)────┼─────(49)────┤
                   &trans        &kp HOME      &kp PG_DN     &kp PG_UP     &kp END       &kp C_PREV        &kp C_NEXT    &kp RBKT      &trans        &trans        &trans        &trans
//               ╰─────────────┴─────────────┴─────────────┼─────(50)────┼─────(51)────┼─────(52)────┤   ├─────(53)────┼─────(54)────┼─────(55)────┼─────────────┴─────────────┴─────────────╯
                                                             &trans        &trans      &kp C_PLAY_PAUSE  &kp C_PLAY_PAUSE &trans       &trans
//                                                         ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
)

//ZMK_LAYER(swtch,
////               ╭─────(0)─────┬─────(1)─────┬─────(2)─────┬─────(3)─────┬─────(4)─────┬─────(5)─────╮   ╭─────(6)─────┬─────(7)─────┬─────(8)─────┬─────(9)─────┬─────(10)────┬─────(11)────╮
//                   &trans        &trans        &trans        &trans        &trans        &trans            &trans        &trans        &trans        &trans        &trans        &trans
//// ╭─────(12)────┼─────(13)────┼─────(14)────┼─────(15)────┼─────(16)────┼─────(17)────┼─────(18)────┤   ├─────(19)────┼─────(20)────┼─────(21)────┼─────(22)────┼─────(23)────┼─────(24)────┼─────(25)────╮
//     &trans        &trans        &LC(LEFT)     &LG(LS(NUBS)) &LG(NUBS)     &LC(RIGHT)    &trans            &trans        &LC(LEFT)     &LG(LS(NUBS)) &LG(NUBS)     &LC(RIGHT)    &trans        &trans
//// ╰─────────────┼─────(26)────┼─────(27)────┼─────(28)────┼─────(29)────┼─────(30)────┼─────(31)────┤   ├─────(32)────┼─────(33)────┼─────(34)────┼─────(35)────┼─────(36)────┼─────(37)────┼─────────────╯
//                   &trans        &LG(LS(TAB))  &LC(LS(TAB))  &LC(TAB)      &LG(TAB)      &trans            &trans        &LG(LS(TAB))  &LC(LS(TAB))  &LC(TAB)      &LG(TAB)      &trans
////               ├─────(38)─────┼────(39)────┼─────(40)────┼─────(41)────┼─────(42)────┼─────(43)────┤   ├─────(44)────┼─────(45)────┼─────(46)────┼─────(47)────┼─────(48)────┼─────(49)────┤
//                   &trans        &trans        &trans        &trans        &trans        &trans            &trans        &trans        &trans        &trans        &trans        &trans
////               ╰─────────────┴─────────────┴─────────────┼─────(50)────┼─────(51)────┼─────(52)────┤   ├─────(53)────┼─────(54)────┼─────(55)────┼─────────────┴─────────────┴─────────────╯
//                                                             &trans        &trans        &trans            &ktrans       &trans        &trans
////                                                         ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
//)
